In [102]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Count the total number of schools
total_schools = school_data["School ID"].count()

# Count the total number of students
total_students = student_data["Student ID"].count()

# Add the budget for each school and convert the sum in a currency format
total_budget = school_data["budget"].sum()
total_budget_currency =  "${:,.2f}".format(total_budget)

# Calculate the average reading score and format it
average_reading_score = (student_data["reading_score"].sum()) / total_students
average_reading_score_formatted =  "{:.2f}".format(average_reading_score)

# Calculate the average math score and format it
average_math_score = (student_data["math_score"].sum()) / total_students
average_math_score_formatted =  "{:.2f}".format(average_math_score)

# Calculate the percent of students who passed in Readimg test and format it
passing_score_reading_df = student_data.loc[student_data["reading_score"] >= 70,["Student ID","reading_score"]]
passing_score_reading_count = passing_score_reading_df["Student ID"].count()
percent_pass_reading_score = (passing_score_reading_count / total_students) * 100
percent_pass_reading_format = "{:.3f}%".format(percent_pass_reading_score)


# Calculate the percent of students who passed in Math test and format it
passing_score_math_df = student_data.loc[student_data["math_score"] >= 70,["Student ID","math_score"]]
passing_score_math_count = passing_score_math_df["Student ID"].count()
percent_pass_math_score = (passing_score_math_count / total_students) * 100
percent_pass_math_format =  "{:.3f}%".format(percent_pass_math_score)

# Calculate the students who passed in both reading and math by making an inner join of 
# students who passed reading and students who passed math
overall_pass_df = pd.merge(passing_score_reading_df,passing_score_math_df, on = ["Student ID"])
overall_pass_percentage = overall_pass_df["Student ID"].count() / total_students * 100

# Format the results
overall_pass_format = "{:.3f}%".format(overall_pass_percentage)

# Put all the results in a dataframe called District Summary
district_summary_df = pd.DataFrame([ {"Total number of schools": total_schools,
                                      "Total number of students": total_students,
                                      "Total Budget": total_budget_currency,                                    
                                      "Average Reading Score ": average_reading_score_formatted,     
                                      "Average Math Score" : average_math_score_formatted,
                                      "Passing percentage for Reading": percent_pass_reading_format,  
                                      "Passing percentage for Math": percent_pass_math_format,
                                      "Percentage of students who passed both in Reading and Math": overall_pass_format}                                                                      
                                   ])

# Print the District Summery to the terminal
district_summary_df

,Total number of schools,Total number of students,Total Budget,Average Reading Score,Average Math Score,Passing percentage for Reading,Passing percentage for Math,Percentage of students who passed both in Reading and Math
0,15,39170,"$24,649,428.00",81.88,78.99,85.805%,74.981%,65.172%

## School Summary

In [103]:
# School summaries:

schools = school_data.columns

budget_per_student = (school_data["budget"] / school_data["size"])

school_aggregate = school_data[['school_name','type','size','budget']]
school_aggregate["Budget per Student"] = budget_per_student

In [104]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_aggregate, how="left", on=["school_name", "school_name"])

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,type,size,budget,Budget per Student
0,0,Paul Bradley,M,9th,Huang High School,66,79,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,District,2917,1910635,655.0
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,Charter,1635,1043130,638.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,Charter,1635,1043130,638.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,Charter,1635,1043130,638.0
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,Charter,1635,1043130,638.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,Charter,1635,1043130,638.0

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [105]:
# Grouping by school name and other info about each school
grouped_school_name_df = school_data_complete.groupby(["school_name","size","budget","Budget per Student"]) 

grouped_school_name_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,type,size,budget,Budget per Student
0,0,Paul Bradley,M,9th,Huang High School,66,79,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,District,2917,1910635,655.0
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,Charter,1635,1043130,638.0
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,Charter,1635,1043130,638.0
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,Charter,1635,1043130,638.0
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,Charter,1635,1043130,638.0
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,Charter,1635,1043130,638.0

In [106]:
# Calculating the Average Math Score
average_math_score = grouped_school_name_df["math_score"].mean() 

average_math_score

school_name            size  budget   Budget per Student
Bailey High School     4976  3124928  628.0                 77.048432
Cabrera High School    1858  1081356  582.0                 83.061895
Figueroa High School   2949  1884411  639.0                 76.711767
Ford High School       2739  1763916  644.0                 77.102592
Griffin High School    1468  917500   625.0                 83.351499
Hernandez High School  4635  3022020  652.0                 77.289752
Holden High School     427   248087   581.0                 83.803279
Huang High School      2917  1910635  655.0                 76.629414
Johnson High School    4761  3094650  650.0                 77.072464
Pena High School       962   585858   609.0                 83.839917
Rodriguez High School  3999  2547363  637.0                 76.842711
Shelton High School    1761  1056600  600.0                 83.359455
Thomas High School     1635  1043130  638.0                 83.418349
Wilson High School     2283  1319574  578.0                 83.274201
Wright High School     1800  1049400  583.0                 83.682222
Name: math_score, dtype: float64

In [107]:
# Calculating the average reading score per school
average_reading_score = grouped_school_name_df["reading_score"].mean() 

average_reading_score

# Merge the average math score and reading scores into a summary dataframe

schoolsummary_df = pd.merge(average_math_score, average_reading_score,
                            on=('school_name','size','budget','Budget per Student'),how='inner')

schoolsummary_df = schoolsummary_df.rename(columns={'math_score' : 'Average Math Score', 
                                                      'reading_score': 'Average Reading Score'})


schoolsummary_df

,,,,Average Math Score,Average Reading Score
school_name,size,budget,Budget per Student,,
Bailey High School,4976,3124928,628.0,77.048432,81.033963
Cabrera High School,1858,1081356,582.0,83.061895,83.975780
Figueroa High School,2949,1884411,639.0,76.711767,81.158020
Ford High School,2739,1763916,644.0,77.102592,80.746258
Griffin High School,1468,917500,625.0,83.351499,83.816757
Hernandez High School,4635,3022020,652.0,77.289752,80.934412
Holden High School,427,248087,581.0,83.803279,83.814988
Huang High School,2917,1910635,655.0,76.629414,81.182722
Johnson High School,4761,3094650,650.0,77.072464,80.966394
Pena High School,962,585858,609.0,83.839917,84.044699
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686
Shelton High School,1761,1056600,600.0,83.359455,83.725724
Thomas High School,1635,1043130,638.0,83.418349,83.848930
Wilson High School,2283,1319574,578.0,83.274201,83.989488
Wright High School,1800,1049400,583.0,83.682222,83.955000

In [108]:
# Choose the rows of students who have passed in math
passing_grade_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
passing_grade_math

# Group them by School
grouped_math_pass = passing_grade_math.groupby(["school_name","size"])

# Set the name of the count of students in each school who have passed in Math
count_math_pass = grouped_math_pass["math_score"].count().reset_index(name = 'Count Pass Math')                         
count_math_pass

# Calculate the percentage of students who have passed in math for each school
count_math_pass["% Passing Math"] = (count_math_pass["Count Pass Math"] / count_math_pass["size"]) * 100

# Delete the counts column as we only need percentages
del count_math_pass["Count Pass Math"]
count_math_pass

# Merge it to the dataframe with summaries of each school
schoolsummary_df = pd.merge(schoolsummary_df, count_math_pass,
                            on=('school_name','size'),how='outer')
schoolsummary_df

,school_name,size,Average Math Score,Average Reading Score,% Passing Math
0,Bailey High School,4976,77.048432,81.033963,66.680064
1,Cabrera High School,1858,83.061895,83.975780,94.133477
2,Figueroa High School,2949,76.711767,81.158020,65.988471
3,Ford High School,2739,77.102592,80.746258,68.309602
4,Griffin High School,1468,83.351499,83.816757,93.392371
5,Hernandez High School,4635,77.289752,80.934412,66.752967
6,Holden High School,427,83.803279,83.814988,92.505855
7,Huang High School,2917,76.629414,81.182722,65.683922
8,Johnson High School,4761,77.072464,80.966394,66.057551
9,Pena High School,962,83.839917,84.044699,94.594595
10,Rodriguez High School,3999,76.842711,80.744686,66.366592
11,Shelton High School,1761,83.359455,83.725724,93.867121
12,Thomas High School,1635,83.418349,83.848930,93.272171
13,Wilson High School,2283,83.274201,83.989488,93.867718
14,Wright High School,1800,83.682222,83.955000,93.333333

In [109]:
# Choose the rows of students who have passed in reading
passing_grade_read = school_data_complete[(school_data_complete["reading_score"] >= 70)]
passing_grade_read

# Group them by School
grouped_read_pass = passing_grade_read.groupby(["school_name","size"])

# Set the name of the count of students in each school who have passed in Reading
count_read_pass = grouped_read_pass["reading_score"].count().reset_index(name = 'Count Pass Read')                         
count_read_pass

# Calculate the percentage of students who have passed in reading for each school
count_read_pass["% Passing Reading"] = (count_read_pass["Count Pass Read"] / count_read_pass["size"]) * 100

# Delete the counts column as we only need percentages
del count_read_pass["Count Pass Read"]
count_read_pass

# Merge it to the dataframe with summaries of each school
schoolsummary_df = pd.merge(schoolsummary_df, count_read_pass,
                            on=('school_name','size'),how='outer')
schoolsummary_df

,school_name,size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,Bailey High School,4976,77.048432,81.033963,66.680064,81.933280
1,Cabrera High School,1858,83.061895,83.975780,94.133477,97.039828
2,Figueroa High School,2949,76.711767,81.158020,65.988471,80.739234
3,Ford High School,2739,77.102592,80.746258,68.309602,79.299014
4,Griffin High School,1468,83.351499,83.816757,93.392371,97.138965
5,Hernandez High School,4635,77.289752,80.934412,66.752967,80.862999
6,Holden High School,427,83.803279,83.814988,92.505855,96.252927
7,Huang High School,2917,76.629414,81.182722,65.683922,81.316421
8,Johnson High School,4761,77.072464,80.966394,66.057551,81.222432
9,Pena High School,962,83.839917,84.044699,94.594595,95.945946
10,Rodriguez High School,3999,76.842711,80.744686,66.366592,80.220055
11,Shelton High School,1761,83.359455,83.725724,93.867121,95.854628
12,Thomas High School,1635,83.418349,83.848930,93.272171,97.308869
13,Wilson High School,2283,83.274201,83.989488,93.867718,96.539641
14,Wright High School,1800,83.682222,83.955000,93.333333,96.611111

In [110]:
# Choose the rows of students who have passed both in math and reading
passing_grade_overall = school_data_complete[(school_data_complete["reading_score"] >= 70) &
                                             (school_data_complete["math_score"] >= 70) ]
passing_grade_overall

# Group them by School
grouped_overall_pass = passing_grade_overall.groupby(["school_name","size"])

# Set the name of the count of students in each school who have passed in Math and Reading
count_overall_pass = grouped_overall_pass["reading_score"].count().reset_index(name = 'Count Pass Overall')                         
count_overall_pass

# Calculate the percentage of students who have passed in math and reading for each school
count_overall_pass["% Overall Pass"] = (count_overall_pass["Count Pass Overall"] / count_overall_pass["size"]) * 100

# Delete the counts column as we only need percentages
del count_overall_pass["Count Pass Overall"]
count_overall_pass

# Merge it to the dataframe with summaries of each school
schoolsummary_df = pd.merge(schoolsummary_df, count_overall_pass,
                            on=('school_name','size'),how='outer')
schoolsummary_df

,school_name,size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pass
0,Bailey High School,4976,77.048432,81.033963,66.680064,81.933280,54.642283
1,Cabrera High School,1858,83.061895,83.975780,94.133477,97.039828,91.334769
2,Figueroa High School,2949,76.711767,81.158020,65.988471,80.739234,53.204476
3,Ford High School,2739,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,1468,83.351499,83.816757,93.392371,97.138965,90.599455
5,Hernandez High School,4635,77.289752,80.934412,66.752967,80.862999,53.527508
6,Holden High School,427,83.803279,83.814988,92.505855,96.252927,89.227166
7,Huang High School,2917,76.629414,81.182722,65.683922,81.316421,53.513884
8,Johnson High School,4761,77.072464,80.966394,66.057551,81.222432,53.539172
9,Pena High School,962,83.839917,84.044699,94.594595,95.945946,90.540541
10,Rodriguez High School,3999,76.842711,80.744686,66.366592,80.220055,52.988247
11,Shelton High School,1761,83.359455,83.725724,93.867121,95.854628,89.892107
12,Thomas High School,1635,83.418349,83.848930,93.272171,97.308869,90.948012
13,Wilson High School,2283,83.274201,83.989488,93.867718,96.539641,90.582567
14,Wright High School,1800,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [111]:
#Sort the dataframe in ascending order of % Overall Pass
schoolsummary_sorted = schoolsummary_df.sort_values(by=["% Overall Pass"],ascending=False)
schoolsummary_sorted

,school_name,size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pass
1,Cabrera High School,1858,83.061895,83.975780,94.133477,97.039828,91.334769
12,Thomas High School,1635,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,1468,83.351499,83.816757,93.392371,97.138965,90.599455
13,Wilson High School,2283,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,962,83.839917,84.044699,94.594595,95.945946,90.540541
14,Wright High School,1800,83.682222,83.955000,93.333333,96.611111,90.333333
11,Shelton High School,1761,83.359455,83.725724,93.867121,95.854628,89.892107
6,Holden High School,427,83.803279,83.814988,92.505855,96.252927,89.227166
0,Bailey High School,4976,77.048432,81.033963,66.680064,81.933280,54.642283
3,Ford High School,2739,77.102592,80.746258,68.309602,79.299014,54.289887
8,Johnson High School,4761,77.072464,80.966394,66.057551,81.222432,53.539172
5,Hernandez High School,4635,77.289752,80.934412,66.752967,80.862999,53.527508
7,Huang High School,2917,76.629414,81.182722,65.683922,81.316421,53.513884
2,Figueroa High School,2949,76.711767,81.158020,65.988471,80.739234,53.204476
10,Rodriguez High School,3999,76.842711,80.744686,66.366592,80.220055,52.988247

In [112]:
# The first 5 rows in the dataframe are the best performing schools
schoolsummary_sorted.head(5)

,school_name,size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pass
1,Cabrera High School,1858,83.061895,83.975780,94.133477,97.039828,91.334769
12,Thomas High School,1635,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,1468,83.351499,83.816757,93.392371,97.138965,90.599455
13,Wilson High School,2283,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,962,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [113]:
# The last 5 rows in the dataframe are the bottom performing schools
schoolsummary_sorted.tail(5)

,school_name,size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pass
8,Johnson High School,4761,77.072464,80.966394,66.057551,81.222432,53.539172
5,Hernandez High School,4635,77.289752,80.934412,66.752967,80.862999,53.527508
7,Huang High School,2917,76.629414,81.182722,65.683922,81.316421,53.513884
2,Figueroa High School,2949,76.711767,81.158020,65.988471,80.739234,53.204476
10,Rodriguez High School,3999,76.842711,80.744686,66.366592,80.220055,52.988247

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

* Cleaning up the data for each grade

In [114]:
# For ninth grade, in a dataframe, put all the students from various schools that are in 9th grade

ninth_grade = school_data_complete[school_data_complete['grade'].str.contains('9th')]

# Grouping by school name
ninth_grade_by_school = ninth_grade.groupby(['school_name'])

# Calculate the average Math score
avg_ninth_math_score = ninth_grade_by_school["math_score"].mean()

# For tenth grade, collect all the rows for 10th grade students
tenth_grade = school_data_complete[school_data_complete['grade'].str.contains('10th')]

# Grouping by school name
tenth_grade_by_school = tenth_grade.groupby(['school_name'])

# Average Math score
avg_tenth_math_score = tenth_grade_by_school["math_score"].mean()


# Merging the 9th and 10th grade scores to a dataframe
math_score_by_grade = pd.merge(avg_ninth_math_score, avg_tenth_math_score,
                             on=('school_name'),how='inner')
math_score_by_grade = math_score_by_grade.rename(columns={'math_score_x' : 'Average Ninth Grade Math Score', 
                                                       'math_score_y': 'Average Tenth Grade Math Score'})
math_score_by_grade

# For eleventh grade
eleventh_grade = school_data_complete[school_data_complete['grade'].str.contains('11th')]
eleventh_grade_by_school = eleventh_grade.groupby(['school_name'])



avg_eleventh_math_score = eleventh_grade_by_school["math_score"].mean()


# Merging the 11th grade scores to the math score by grade -dataframe
math_score_by_grade = pd.merge(math_score_by_grade, avg_eleventh_math_score,
                             on=('school_name'),how='inner')
math_score_by_grade = math_score_by_grade.rename(columns={'math_score' : 'Average Eleventh Grade Math Score'})
math_score_by_grade

# For twelfth grade
twelfth_grade = school_data_complete[school_data_complete['grade'].str.contains('12th')]
twelfth_grade_by_school = twelfth_grade.groupby(['school_name'])


avg_twelfth_math_score = twelfth_grade_by_school["math_score"].mean()

# Merging the 12th grade scores to the math score by grade -dataframe

math_score_by_grade = pd.merge(math_score_by_grade, avg_eleventh_math_score,
                             on=('school_name'),how='inner')
math_score_by_grade = math_score_by_grade.rename(columns={'math_score' : 'Average Twelfth Grade Math Score'})
math_score_by_grade

,Average Ninth Grade Math Score,Average Tenth Grade Math Score,Average Eleventh Grade Math Score,Average Twelfth Grade Math Score
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,77.515588
Cabrera High School,83.094697,83.154506,82.765560,82.765560
Figueroa High School,76.403037,76.539974,76.884344,76.884344
Ford High School,77.361345,77.672316,76.918058,76.918058
Griffin High School,82.044010,84.229064,83.842105,83.842105
Hernandez High School,77.438495,77.337408,77.136029,77.136029
Holden High School,83.787402,83.429825,85.000000,85.000000
Huang High School,77.027251,75.908735,76.446602,76.446602
Johnson High School,77.187857,76.691117,77.491653,77.491653
Pena High School,83.625455,83.372000,84.328125,84.328125
Rodriguez High School,76.859966,76.612500,76.395626,76.395626
Shelton High School,83.420755,82.917411,83.383495,83.383495
Thomas High School,83.590022,83.087886,83.498795,83.498795
Wilson High School,83.085578,83.724422,83.195326,83.195326
Wright High School,83.264706,84.010288,83.836782,83.836782

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [115]:
# For ninth grade, calcuating the reaing score averages by schools
avg_ninth_read_score = ninth_grade_by_school["reading_score"].mean()

# For tenth grade
avg_tenth_read_score = tenth_grade_by_school["reading_score"].mean()

# Merging the 9th and 10th grade scores to the math score by grade 
read_score_by_grade = pd.merge(avg_ninth_read_score, avg_tenth_read_score,
                             on=('school_name'),how='inner')
read_score_by_grade = read_score_by_grade.rename(columns={'reading_score_x' : 'Average Ninth Grade Reading Score', 
                                                       'reading_score_y': 'Average Tenth Grade Reading Score'})
read_score_by_grade

# For eleventh grade
avg_eleventh_read_score = eleventh_grade_by_school["reading_score"].mean()

read_score_by_grade = pd.merge(read_score_by_grade, avg_eleventh_read_score,
                             on=('school_name'),how='inner')
read_score_by_grade = read_score_by_grade.rename(columns={'reading_score' : 'Average Eleventh Grade Reading Score'})
read_score_by_grade

# For twelfth grade

avg_twelfth_read_score = twelfth_grade_by_school["reading_score"].mean()

read_score_by_grade = pd.merge(read_score_by_grade, avg_twelfth_read_score,
                             on=('school_name'),how='inner')
read_score_by_grade = read_score_by_grade.rename(columns={'reading_score' : 'Average Twelfth Grade Reading Score'})
read_score_by_grade

,Average Ninth Grade Reading Score,Average Tenth Grade Reading Score,Average Eleventh Grade Reading Score,Average Twelfth Grade Reading Score
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [116]:
# Get the dataframe with complete data
school_data_complete 

# Take 2 columns and make it into a dataframe
school_budget_per_student = pd.DataFrame(school_data_complete,columns=['school_name','Budget per Student'])

# Delete the Duplicates and keep the last row
school_budget_per_student = school_budget_per_student.drop_duplicates(keep='last')
school_budget_per_student

                 school_name  Budget per Student
2916       Huang High School               655.0
5865    Figueroa High School               639.0
7626     Shelton High School               600.0
12261  Hernandez High School               652.0
13729    Griffin High School               625.0
16012     Wilson High School               578.0
17870    Cabrera High School               582.0
22846     Bailey High School               628.0
23273     Holden High School               581.0
24235       Pena High School               609.0
26035     Wright High School               583.0
30034  Rodriguez High School               637.0
34795    Johnson High School               650.0
37534       Ford High School               644.0
39169     Thomas High School               638.0

In [117]:
# Get the dataframe with all the Averages calculated
schoolsummary_sorted

,school_name,size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pass
1,Cabrera High School,1858,83.061895,83.975780,94.133477,97.039828,91.334769
12,Thomas High School,1635,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,1468,83.351499,83.816757,93.392371,97.138965,90.599455
13,Wilson High School,2283,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,962,83.839917,84.044699,94.594595,95.945946,90.540541
14,Wright High School,1800,83.682222,83.955000,93.333333,96.611111,90.333333
11,Shelton High School,1761,83.359455,83.725724,93.867121,95.854628,89.892107
6,Holden High School,427,83.803279,83.814988,92.505855,96.252927,89.227166
0,Bailey High School,4976,77.048432,81.033963,66.680064,81.933280,54.642283
3,Ford High School,2739,77.102592,80.746258,68.309602,79.299014,54.289887
8,Johnson High School,4761,77.072464,80.966394,66.057551,81.222432,53.539172
5,Hernandez High School,4635,77.289752,80.934412,66.752967,80.862999,53.527508
7,Huang High School,2917,76.629414,81.182722,65.683922,81.316421,53.513884
2,Figueroa High School,2949,76.711767,81.158020,65.988471,80.739234,53.204476
10,Rodriguez High School,3999,76.842711,80.744686,66.366592,80.220055,52.988247

In [118]:
# Merge it with the dtaframe which has spending per student
schoolspending_df = pd.merge(school_budget_per_student,schoolsummary_sorted,
                           how = 'inner', on=['school_name','school_name'])
del schoolspending_df['% Overall Pass']  

# Calculate the Overall Passing Rate 
# Overall Passing Rate = % Passing Math + % Passing Reading divided by 2

schoolspending_df['Overall Passing Rate %'] = (schoolspending_df['% Passing Math'] +
                                                 schoolspending_df['% Passing Reading']) / 2

schoolspending_df

,school_name,Budget per Student,size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate %
0,Huang High School,655.0,2917,76.629414,81.182722,65.683922,81.316421,73.500171
1,Figueroa High School,639.0,2949,76.711767,81.158020,65.988471,80.739234,73.363852
2,Shelton High School,600.0,1761,83.359455,83.725724,93.867121,95.854628,94.860875
3,Hernandez High School,652.0,4635,77.289752,80.934412,66.752967,80.862999,73.807983
4,Griffin High School,625.0,1468,83.351499,83.816757,93.392371,97.138965,95.265668
5,Wilson High School,578.0,2283,83.274201,83.989488,93.867718,96.539641,95.203679
6,Cabrera High School,582.0,1858,83.061895,83.975780,94.133477,97.039828,95.586652
7,Bailey High School,628.0,4976,77.048432,81.033963,66.680064,81.933280,74.306672
8,Holden High School,581.0,427,83.803279,83.814988,92.505855,96.252927,94.379391
9,Pena High School,609.0,962,83.839917,84.044699,94.594595,95.945946,95.270270
10,Wright High School,583.0,1800,83.682222,83.955000,93.333333,96.611111,94.972222
11,Rodriguez High School,637.0,3999,76.842711,80.744686,66.366592,80.220055,73.293323
12,Johnson High School,650.0,4761,77.072464,80.966394,66.057551,81.222432,73.639992
13,Ford High School,644.0,2739,77.102592,80.746258,68.309602,79.299014,73.804308
14,Thomas High School,638.0,1635,83.418349,83.848930,93.272171,97.308869,95.290520

In [119]:
schoolspending_df = schoolspending_df.sort_values(by=["Budget per Student"],ascending=False)
schoolspending_df

,school_name,Budget per Student,size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate %
0,Huang High School,655.0,2917,76.629414,81.182722,65.683922,81.316421,73.500171
3,Hernandez High School,652.0,4635,77.289752,80.934412,66.752967,80.862999,73.807983
12,Johnson High School,650.0,4761,77.072464,80.966394,66.057551,81.222432,73.639992
13,Ford High School,644.0,2739,77.102592,80.746258,68.309602,79.299014,73.804308
1,Figueroa High School,639.0,2949,76.711767,81.158020,65.988471,80.739234,73.363852
14,Thomas High School,638.0,1635,83.418349,83.848930,93.272171,97.308869,95.290520
11,Rodriguez High School,637.0,3999,76.842711,80.744686,66.366592,80.220055,73.293323
7,Bailey High School,628.0,4976,77.048432,81.033963,66.680064,81.933280,74.306672
4,Griffin High School,625.0,1468,83.351499,83.816757,93.392371,97.138965,95.265668
9,Pena High School,609.0,962,83.839917,84.044699,94.594595,95.945946,95.270270
2,Shelton High School,600.0,1761,83.359455,83.725724,93.867121,95.854628,94.860875
10,Wright High School,583.0,1800,83.682222,83.955000,93.333333,96.611111,94.972222
6,Cabrera High School,582.0,1858,83.061895,83.975780,94.133477,97.039828,95.586652
8,Holden High School,581.0,427,83.803279,83.814988,92.505855,96.252927,94.379391
5,Wilson High School,578.0,2283,83.274201,83.989488,93.867718,96.539641,95.203679

In [120]:
# Dividing the schools into 4 bins $636 to $655 - Group 1, the highest 'spending per student' group
#                                # $616 to $635 - Group 2
#                                # $596 to $615 - Group 3
#                                # $576 to $595 - Group 4, the lowest 'spending per student' group

conditions = [
    (schoolspending_df['Budget per Student'] >= 636) & (schoolspending_df['Budget per Student'] <= 655),
    (schoolspending_df['Budget per Student'] >= 616) & (schoolspending_df['Budget per Student'] <= 635),
    (schoolspending_df['Budget per Student'] >= 596) & (schoolspending_df['Budget per Student'] <= 615),
    (schoolspending_df['Budget per Student'] >= 576) & (schoolspending_df['Budget per Student'] <= 595)
]

values = ['$636 to 655', '$616 to 635', '$596 to 615', '$576 to 595']

schoolspending_df['Spending Group'] = np.select(conditions, values)
schoolspending_df.set_index('Spending Group', inplace = True)

schoolspending_df

,school_name,Budget per Student,size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate %
Spending Group,,,,,,,,
$636 to 655,Huang High School,655.0,2917,76.629414,81.182722,65.683922,81.316421,73.500171
$636 to 655,Hernandez High School,652.0,4635,77.289752,80.934412,66.752967,80.862999,73.807983
$636 to 655,Johnson High School,650.0,4761,77.072464,80.966394,66.057551,81.222432,73.639992
$636 to 655,Ford High School,644.0,2739,77.102592,80.746258,68.309602,79.299014,73.804308
$636 to 655,Figueroa High School,639.0,2949,76.711767,81.158020,65.988471,80.739234,73.363852
$636 to 655,Thomas High School,638.0,1635,83.418349,83.848930,93.272171,97.308869,95.290520
$636 to 655,Rodriguez High School,637.0,3999,76.842711,80.744686,66.366592,80.220055,73.293323
$616 to 635,Bailey High School,628.0,4976,77.048432,81.033963,66.680064,81.933280,74.306672
$616 to 635,Griffin High School,625.0,1468,83.351499,83.816757,93.392371,97.138965,95.265668
$596 to 615,Pena High School,609.0,962,83.839917,84.044699,94.594595,95.945946,95.270270
$596 to 615,Shelton High School,600.0,1761,83.359455,83.725724,93.867121,95.854628,94.860875
$576 to 595,Wright High School,583.0,1800,83.682222,83.955000,93.333333,96.611111,94.972222
$576 to 595,Cabrera High School,582.0,1858,83.061895,83.975780,94.133477,97.039828,95.586652
$576 to 595,Holden High School,581.0,427,83.803279,83.814988,92.505855,96.252927,94.379391
$576 to 595,Wilson High School,578.0,2283,83.274201,83.989488,93.867718,96.539641,95.203679

In [121]:
ave_read_spending = schoolspending_df.groupby(['Spending Group'])['Average Reading Score'].mean() 
ave_read_spending_df = pd.DataFrame(ave_read_spending)
ave_read_spending_df

                Average Reading Score
Spending Group
$576 to 595                 83.933814
$596 to 615                 83.885211
$616 to 635                 82.425360
$636 to 655                 81.368774

In [122]:
ave_math_spending = schoolspending_df.groupby(['Spending Group'])['Average Math Score'].mean() 
ave_math_by_spending_df = pd.DataFrame(ave_math_spending)
ave_math_by_spending_df
scores_by_spending_df = pd.merge(ave_read_spending_df,ave_math_by_spending_df,
                                 on=['Spending Group'], how='inner')

ave_percent_read_spending = schoolspending_df.groupby(['Spending Group'])['% Passing Reading'].mean() 
ave_percent_read_spending_df = pd.DataFrame(ave_percent_read_spending)
ave_percent_read_spending_df 
scores_by_spending_df = pd.merge(scores_by_spending_df,ave_percent_read_spending_df,
                                 on=['Spending Group'], how='inner')

ave_percent_math_spending = schoolspending_df.groupby(['Spending Group'])['% Passing Math'].mean() 
ave_percent_math_spending_df = pd.DataFrame(ave_percent_math_spending)
ave_percent_math_spending_df 
scores_by_spending_df = pd.merge(scores_by_spending_df,ave_percent_math_spending_df,
                                 on=['Spending Group'], how='inner')

ave_overall_pass_spending = schoolspending_df.groupby(['Spending Group'])['Overall Passing Rate %'].mean() 
ave_overall_pass_spending_df = pd.DataFrame(ave_overall_pass_spending)
ave_overall_pass_spending_df 
scores_by_spending_df = pd.merge(scores_by_spending_df,ave_overall_pass_spending_df,
                                 on=['Spending Group'], how='inner')
scores_by_spending_df

,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate %
Spending Group,,,,,
$576 to 595,83.933814,83.455399,96.610877,93.460096,95.035486
$596 to 615,83.885211,83.599686,95.900287,94.230858,95.065572
$616 to 635,82.425360,80.199966,89.536122,80.036217,84.786170
$636 to 655,81.368774,77.866721,82.995575,70.347325,76.671450

## Scores by School Size

* Perform the same operations as above, based on school size.

In [123]:
# Sort the table by the biggest size to the smallest
schoolsize_df =  schoolspending_df.sort_values(by=["size"],ascending=False)
schoolsize_df

,school_name,Budget per Student,size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate %
Spending Group,,,,,,,,
$616 to 635,Bailey High School,628.0,4976,77.048432,81.033963,66.680064,81.933280,74.306672
$636 to 655,Johnson High School,650.0,4761,77.072464,80.966394,66.057551,81.222432,73.639992
$636 to 655,Hernandez High School,652.0,4635,77.289752,80.934412,66.752967,80.862999,73.807983
$636 to 655,Rodriguez High School,637.0,3999,76.842711,80.744686,66.366592,80.220055,73.293323
$636 to 655,Figueroa High School,639.0,2949,76.711767,81.158020,65.988471,80.739234,73.363852
$636 to 655,Huang High School,655.0,2917,76.629414,81.182722,65.683922,81.316421,73.500171
$636 to 655,Ford High School,644.0,2739,77.102592,80.746258,68.309602,79.299014,73.804308
$576 to 595,Wilson High School,578.0,2283,83.274201,83.989488,93.867718,96.539641,95.203679
$576 to 595,Cabrera High School,582.0,1858,83.061895,83.975780,94.133477,97.039828,95.586652
$576 to 595,Wright High School,583.0,1800,83.682222,83.955000,93.333333,96.611111,94.972222
$596 to 615,Shelton High School,600.0,1761,83.359455,83.725724,93.867121,95.854628,94.860875
$636 to 655,Thomas High School,638.0,1635,83.418349,83.848930,93.272171,97.308869,95.290520
$616 to 635,Griffin High School,625.0,1468,83.351499,83.816757,93.392371,97.138965,95.265668
$596 to 615,Pena High School,609.0,962,83.839917,84.044699,94.594595,95.945946,95.270270
$576 to 595,Holden High School,581.0,427,83.803279,83.814988,92.505855,96.252927,94.379391

In [136]:
# Dividing the schools into 3 bins by size of schools 3000 to 5000 - Large School
                                                    # 1500 to 2999 - Medium School
                                                    #    0 to 1499 - Small School                              

conditions = [
    (schoolsize_df['size'] >= 3000) & (schoolsize_df['size'] <= 5000),
    (schoolsize_df['size'] >= 1500) & (schoolsize_df['size'] <= 2999),
    (schoolsize_df['size'] > 0) & (schoolsize_df['size'] <= 1499)
]

values = ['Large', 'Medium', 'Small']

schoolsize_df['Size of School'] = np.select(conditions, values)
schoolsize_df.set_index('Size of School', inplace = True)

schoolsize_df

,school_name,Budget per Student,size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate %
Size of School,,,,,,,,
Large,Bailey High School,628.0,4976,77.048432,81.033963,66.680064,81.933280,74.306672
Large,Johnson High School,650.0,4761,77.072464,80.966394,66.057551,81.222432,73.639992
Large,Hernandez High School,652.0,4635,77.289752,80.934412,66.752967,80.862999,73.807983
Large,Rodriguez High School,637.0,3999,76.842711,80.744686,66.366592,80.220055,73.293323
Medium,Figueroa High School,639.0,2949,76.711767,81.158020,65.988471,80.739234,73.363852
Medium,Huang High School,655.0,2917,76.629414,81.182722,65.683922,81.316421,73.500171
Medium,Ford High School,644.0,2739,77.102592,80.746258,68.309602,79.299014,73.804308
Medium,Wilson High School,578.0,2283,83.274201,83.989488,93.867718,96.539641,95.203679
Medium,Cabrera High School,582.0,1858,83.061895,83.975780,94.133477,97.039828,95.586652
Medium,Wright High School,583.0,1800,83.682222,83.955000,93.333333,96.611111,94.972222
Medium,Shelton High School,600.0,1761,83.359455,83.725724,93.867121,95.854628,94.860875
Medium,Thomas High School,638.0,1635,83.418349,83.848930,93.272171,97.308869,95.290520
Small,Griffin High School,625.0,1468,83.351499,83.816757,93.392371,97.138965,95.265668
Small,Pena High School,609.0,962,83.839917,84.044699,94.594595,95.945946,95.270270
Small,Holden High School,581.0,427,83.803279,83.814988,92.505855,96.252927,94.379391

In [137]:
ave_read_schoolsize = schoolsize_df.groupby(['Size of School'])['Average Reading Score'].mean() 
ave_read_schoolsize_df = pd.DataFrame(ave_read_schoolsize)
ave_read_schoolsize_df

                Average Reading Score
Size of School
Large                       80.919864
Medium                      82.822740
Small                       83.892148

In [143]:
ave_math_schoolsize = schoolsize_df.groupby(['Size of School'])['Average Math Score'].mean() 
ave_math_schoolsize_df = pd.DataFrame(ave_math_schoolsize)
ave_math_schoolsize_df
scores_by_schoolsize_df = pd.merge(ave_read_schoolsize_df,ave_math_schoolsize_df,
                                 on=['Size of School'], how='inner')
scores_by_schoolsize_df
ave_percent_read_schoolsize = schoolsize_df.groupby(['Size of School'])['% Passing Reading'].mean() 
ave_percent_read_schoolsize_df = pd.DataFrame(ave_percent_read_schoolsize)
ave_percent_read_schoolsize_df 
scores_by_schoolsize_df = pd.merge(scores_by_schoolsize_df,ave_percent_read_schoolsize_df,
                                 on=['Size of School'], how='inner')

ave_percent_math_schoolsize = schoolsize_df.groupby(['Size of School'])['% Passing Math'].mean() 
ave_percent_math_schoolsize_df = pd.DataFrame(ave_percent_math_schoolsize)
ave_percent_math_schoolsize_df 
scores_by_schoolsize_df = pd.merge(scores_by_schoolsize_df,ave_percent_math_schoolsize_df,
                                 on=['Size of School'], how='inner')

ave_overall_pass_schoolsize = schoolsize_df.groupby(['Size of School'])['Overall Passing Rate %'].mean() 
ave_overall_pass_schoolsize_df = pd.DataFrame(ave_overall_pass_schoolsize)
ave_overall_pass_schoolsize_df 
scores_by_schoolsize_df = pd.merge(scores_by_schoolsize_df,ave_overall_pass_schoolsize_df,
                                 on=['Size of School'], how='inner')
scores_by_schoolsize_df

,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate %
Size of School,,,,,
Large,80.919864,77.063340,81.059691,66.464293,73.761992
Medium,82.822740,80.904987,90.588593,83.556977,87.072785
Small,83.892148,83.664898,96.445946,93.497607,94.971776

## Scores by School Type

* Perform the same operations as above, based on school type

In [126]:
# Take 2 columns and make it into a dataframe
school_type = pd.DataFrame(school_data_complete,columns=['school_name','type'])

# Delete the Duplicates and keep the last row
school_type = school_type.drop_duplicates(keep='last')
school_type

                 school_name      type
2916       Huang High School  District
5865    Figueroa High School  District
7626     Shelton High School   Charter
12261  Hernandez High School  District
13729    Griffin High School   Charter
16012     Wilson High School   Charter
17870    Cabrera High School   Charter
22846     Bailey High School  District
23273     Holden High School   Charter
24235       Pena High School   Charter
26035     Wright High School   Charter
30034  Rodriguez High School  District
34795    Johnson High School  District
37534       Ford High School  District
39169     Thomas High School   Charter

In [127]:
# Merging the data for school type with the average scores by school
schooltype_df = pd.merge(school_type,schoolsummary_sorted,
                           how = 'inner', on=['school_name','school_name'])
del schooltype_df['size']
del schooltype_df['% Overall Pass']  

# Calculate the Overall Passing Rate 
# Overall Passing Rate = % Passing Math + % Passing Reading divided by 2

schooltype_df['Overall Passing Rate %'] = (schooltype_df['% Passing Math'] +
                                                 schooltype_df['% Passing Reading']) / 2


schooltype_df

,school_name,type,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate %
0,Huang High School,District,76.629414,81.182722,65.683922,81.316421,73.500171
1,Figueroa High School,District,76.711767,81.158020,65.988471,80.739234,73.363852
2,Shelton High School,Charter,83.359455,83.725724,93.867121,95.854628,94.860875
3,Hernandez High School,District,77.289752,80.934412,66.752967,80.862999,73.807983
4,Griffin High School,Charter,83.351499,83.816757,93.392371,97.138965,95.265668
5,Wilson High School,Charter,83.274201,83.989488,93.867718,96.539641,95.203679
6,Cabrera High School,Charter,83.061895,83.975780,94.133477,97.039828,95.586652
7,Bailey High School,District,77.048432,81.033963,66.680064,81.933280,74.306672
8,Holden High School,Charter,83.803279,83.814988,92.505855,96.252927,94.379391
9,Pena High School,Charter,83.839917,84.044699,94.594595,95.945946,95.270270
10,Wright High School,Charter,83.682222,83.955000,93.333333,96.611111,94.972222
11,Rodriguez High School,District,76.842711,80.744686,66.366592,80.220055,73.293323
12,Johnson High School,District,77.072464,80.966394,66.057551,81.222432,73.639992
13,Ford High School,District,77.102592,80.746258,68.309602,79.299014,73.804308
14,Thomas High School,Charter,83.418349,83.848930,93.272171,97.308869,95.290520

In [128]:
schooltype_df = schooltype_df.sort_values(by=["type"],ascending=True)
schooltype_df.set_index('type', inplace = True)
schooltype_df

,school_name,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate %
type,,,,,,
Charter,Shelton High School,83.359455,83.725724,93.867121,95.854628,94.860875
Charter,Griffin High School,83.351499,83.816757,93.392371,97.138965,95.265668
Charter,Wilson High School,83.274201,83.989488,93.867718,96.539641,95.203679
Charter,Cabrera High School,83.061895,83.975780,94.133477,97.039828,95.586652
Charter,Holden High School,83.803279,83.814988,92.505855,96.252927,94.379391
Charter,Pena High School,83.839917,84.044699,94.594595,95.945946,95.270270
Charter,Wright High School,83.682222,83.955000,93.333333,96.611111,94.972222
Charter,Thomas High School,83.418349,83.848930,93.272171,97.308869,95.290520
District,Huang High School,76.629414,81.182722,65.683922,81.316421,73.500171
District,Figueroa High School,76.711767,81.158020,65.988471,80.739234,73.363852
District,Hernandez High School,77.289752,80.934412,66.752967,80.862999,73.807983
District,Bailey High School,77.048432,81.033963,66.680064,81.933280,74.306672
District,Rodriguez High School,76.842711,80.744686,66.366592,80.220055,73.293323
District,Johnson High School,77.072464,80.966394,66.057551,81.222432,73.639992
District,Ford High School,77.102592,80.746258,68.309602,79.299014,73.804308

In [149]:
ave_read_schooltype = schooltype_df.groupby(['type'])['Average Reading Score'].mean() 
ave_read_schooltype_df = pd.DataFrame(ave_read_schooltype)
ave_read_schooltype_df

ave_math_schooltype = schooltype_df.groupby(['type'])['Average Math Score'].mean() 
ave_math_schooltype_df = pd.DataFrame(ave_math_schooltype)
ave_math_schooltype_df
scores_by_schooltype_df = pd.merge(ave_read_schooltype_df,ave_math_schooltype_df,
                                 on=['type'], how='inner')


ave_percent_read_schooltype = schooltype_df.groupby(['type'])['% Passing Reading'].mean() 
ave_percent_read_schooltype_df = pd.DataFrame(ave_percent_read_schooltype)
ave_percent_read_schooltype_df 
scores_by_schooltype_df = pd.merge(scores_by_schooltype_df,ave_percent_read_schooltype_df,
                                 on=['type'], how='inner')

ave_percent_math_schooltype = schooltype_df.groupby(['type'])['% Passing Math'].mean() 
ave_percent_math_schooltype_df = pd.DataFrame(ave_percent_math_schooltype)
ave_percent_math_schooltype_df 
scores_by_schooltype_df = pd.merge(scores_by_schooltype_df,ave_percent_math_schooltype_df,
                                 on=['type'], how='inner')

ave_overall_pass_schooltype = schooltype_df.groupby(['type'])['Overall Passing Rate %'].mean() 
ave_overall_pass_schooltype_df = pd.DataFrame(ave_overall_pass_schooltype)
ave_overall_pass_schooltype_df 
scores_by_schooltype_df = pd.merge(scores_by_schooltype_df,ave_overall_pass_schooltype_df,
                                 on=['type'], how='inner')
scores_by_schooltype_df

,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate %
type,,,,,
Charter,83.896421,83.473852,96.586489,93.620830,95.103660
District,80.966636,76.956733,80.799062,66.548453,73.673757

# Analysis

##### 1. The Charter schools have better math and reading scores than the District schools.
##### 2. The spending per student in a school, does not improve math and reading scores. 
##### 3. The math and reading scores are better in smaller schools than in larger schools